body {
  background: tomato;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}

h1,
h2,
#game_plays h3 {
  font-family: 'Pacifico', cursive;
}

h1 {
  font-size: 4em;
  margin: 0.8em 0;
}

h2 {
  margin-bottom: 1em;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.col-md {
  padding: 2em 4.5em;
}

.moves {
  background: #f8f9fa21;
}

.results {
  /* background: #f8f9fa38; */
  margin-left: 1em;
}


#play-btns {
  margin: 2em 0;
}

#play-btns button {
  margin-top: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em 0.7em;
}


#game_plays {
  padding: 1em;
}

.user_move {
  background: #fff;
  color: tomato;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border: none;
}

.user_move:hover {
  background: #b400ff;
  color: #fff;
}

.active {
  background: #b400ff;
  color: white;
}

.score {
  font-size: 3em;
}

#reset {
  margin: 1em 0;
  font-size: 1.5em;
  padding: 0.5em 2em;
  background: #fff;
  color: tomato;
}

#reset:hover {
  background: #b400ff;
  color: #fff;
}

footer {
  background: #fff;
  color: #333;
  padding: 0.5em 0;
  font-size: 0.8em;
  box-shadow: 2px -4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0;
}

footer a {
  color: tomato;
}
