body {
  background: salmon;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}

h1,
h2,
#game_plays h3 {
  font-family: 'Pacifico', cursive;
}

h1 {
  font-size: 4em;
  margin: 1em 0;
}

h2 {
  margin: 1em 0;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

#play-btns {
  margin: 2em 0;
}

#play-btns button {
  margin-top: 0.5em;
  margin-right: 0.5em;
}


#game_plays {
  padding: 1em;
}

.user_move {
  background: #fff;
  color: salmon;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border: none;
}

.user_move:hover {
  background: #495057;
  color: #fff;
}

.active {
  background: #495057;
  color: white;
}

.score {
  font-size: 3em;
}

#reset {
  margin: 1em 0;
  font-size: 1.5em;
  padding: 0.5em 2em;
  background: #fff;
  color: salmon;
}

#reset:hover {
  background: #b400ff;
  color: #fff;
}

footer {
  background: #fff;
  color: #333;
  padding: 0.5em 0;
  font-size: 0.8em;
}

footer a {
  color: salmon;
}
